<div class="container-fluid row justify-content-center vh-100 align-items-center">
    <div class="row justify-content-center">
        <form [formGroup]="changePasswordGroup" class="d-flex flex-column gap-3 align-items-center w-75">
            <h1 class="d-flex justify-content-center">Change Password</h1>
            <mat-form-field class="col-12 col-sm-8 col-md-5" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="Username">
            </mat-form-field>
            <mat-form-field class="col-12 col-sm-8 col-md-5" appearance="outline">
                <mat-label>Old Password</mat-label>
                <input matInput type="password" formControlName="OldPassword">
            </mat-form-field>
            <mat-form-field class="col-12 col-sm-8 col-md-5" appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="NewPassword">
            </mat-form-field>
            <mat-form-field class="col-12 col-sm-8 col-md-5" appearance="outline">
                <mat-label>Re-Enter new password</mat-label>
                <input matInput type="password" #repassword>
            </mat-form-field>
            <div class="row justify-content-end gap-3">
                <button routerLink="/homepages/dashboard" class="col-4" mat-flat-button color="warn">Cancel</button>
                <button (click)="changepassword(repassword.value)" class="col-4" mat-flat-button color="primary">Save</button>
            </div>
        </form>
    </div>
</div>