<!-- Navigation
<div class="container-fluid">
  <div class="navigation" *ngIf="hidetoolbar">
    <ul>
      <li>
        <a href="#" >

          <img src="assets/ude.png" style="width:100px;height: 100px;">
        </a>
      </li>
      <li>
        <a href="#">
          <h3> Howdy {{c.username}}!! </h3>
        </a>
      </li>
      <li>
        <a routerLink="/homepages/dashboard">

          <mat-icon class="icon">home</mat-icon>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon class="icon">supervisor_account</mat-icon>
          <span class="title">Customers</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink=>
          <mat-icon class="icon">question_answer</mat-icon>
          <span class="title">Message</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon class="icon">help</mat-icon> <span class="title">Help</span>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon class="icon">exit_to_app</mat-icon>
          <span class="title">Signout</span>
        </a>
      </li>
    </ul>
  </div>

  ---main----
  <div class="main d-flex flex-column gap-5">
    <div class="topbar" *ngIf="hidetoolbar">
      <div class="toggle">
        <mat-icon onclick="toggle()">menu</mat-icon>
      </div>
      <div class="search">
        <label for="">
          <input type="text" placeholder="search here">
          <mat-icon>search</mat-icon>
        </label>
      </div>
      <div class="user">
        <img src="assets/jyo.jpg" alt="" srcset="" style="width: 150px;height: 150px;">
      </div>
    </div>
    <div class="w-100 h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
 -->



 <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div *ngIf="hidetoolbar" class="d-flex flex-column margin">
      <div class="content">Home</div>
      <div routerLink="/homepages/dashboard" class="content">Dashboard</div>
      <div routerLink="/homepages/companydetails" class="content">Company Details</div>
      <div class="content">About</div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div *ngIf="hidetoolbar" class="toolbar d-flex align-items-center justify-content-between">
      <div class="col-2">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="col-2">
        <div [matMenuTriggerFor]="menu" style="cursor: pointer;width: 150px;">
          <img class="p-2" style="width: 50px;" src="/assets/user.png" alt="User Logo">
          <b>{{c.username}}</b>
        </div>
        <mat-menu #menu="matMenu">
          <mat-card class="p-3 d-flex gap-2">
          <img class="p-3" style="height: 120px; width: 150px;" src="/assets/user.png" alt="User Logo">
          <div style="cursor: pointer;" class="effect p-2">Profile</div>
          <div routerLink="/updations/changepassword" style="cursor: pointer;" class="effect p-2">Change Password</div>
          <div routerLink="/authentication/login" style="cursor: pointer;" class="effect p-2">Logout</div>
          </mat-card>
        </mat-menu>
      </div>
    </div>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>