<!--------Card---------->

<!-- <div class="cardBox">
    <div class="carda">
        <div>
            <div class="numbers">1,500</div>
            <div class="cardname">Daily Views</div>
        </div>
       <div class="iconbox">

            <mat-icon>visibility</mat-icon>

        </div>
    </div>
    <div class="carda">
        <div>

            <div class="numbers">80</div>

            <div class="cardname">Sales</div>

        </div>

        <div class="iconbox"><mat-icon>shopping_cart</mat-icon></div>

    </div>

    <div class="carda">

        <div>

            <div class="numbers">204</div>

            <div class="cardname">Comments</div>
        </div>

        <div class="iconbox"><mat-icon>question_answer</mat-icon></div>
    </div>

    <div class="carda">
        <div>

            <div class="numbers">$5850</div>

            <div class="cardname">Earnings</div>
        </div>

        <div class="iconbox"><mat-icon>money</mat-icon></div>
    </div>
</div> -->


<div class="container fluid">
    <div class="d-flex justify-content-center">
        <h1 routerLink="/homepages/companydetails" style="cursor: pointer;">Company Details</h1>
    </div>
    <div *ngIf="hideCreateDelete">
        <h1 routerLink="/authentication/createaccount" style="cursor: pointer;">Create Account</h1>
    </div>
    <div *ngIf="hideCreateDelete">
        <h1 routerLink="/authentication/deleteaccount" style="cursor: pointer;">Delete Account</h1>
    </div>
</div>
